* {
    margin: 0;
    padding: 0;
}

header {
    margin-right: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    color: #E6B22B;
}

body {
    background-color: #001B40;
    color: #E6B22B;
}

header img {
    width: 150px;
    height: 150px;
}

.interna {
margin-left: 35px;
padding: 5px;
}

.mapa iframe{
    font-size: 16px;
    margin-left: 40px;
    width: 240px;
    height: 240px;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.class .table{
margin-left: 20px;

}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #E6B22B;
}

th {
    background-color: #001B40;
}

tr:nth-child(even) {
    background-color: #001B40;
}

.gallery {
    font-size: 22px;
    margin: 10px;
    height: 50px;
    margin-left: 10px;
    justify-content: center;
    align-items: center;
}

.gallery-item {   
    background: #001B40;
    box-shadow: 0px 4px 4px rgba(250, 213, 2, 0.25);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
}

li {
    list-style-type: none;
    
}
.menu ul{
    display: flex;
    gap: 20px;
}

.menu ul li a {
    margin-top: 10px;
    margin-right: 20px;
    text-decoration: none;
    color: #E6B22B;
}

form {
    width: 400px;
    padding: 30px;
    margin: 100 auto;
    border-radius: 15px;
    background-color: #001B40;
}

form fieldset{
    border: 0    
}

form fieldset label{
    color: #E6B22B;
    display:block
}

form fieldset input, textarea{
    width: 100%;

}
#submit-contact {
    margin: 5px;
    width: 100px;
    color: #001B40;
    background-color: #E6B22B;
    border-radius: 15px;
}
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E6B22B;
    color: #001B40;
    width: 100%;
    height: 100px;  }
  
.invalid {
    border: 2px solid red;
}    

  @media (min-width: 900px) {
    body {
      position: relative;
      min-height: 100vh;
    }
    footer {
      position: absolute;
      bottom: 0;
    }
    
  
  }